  <% if question.answers.count > 0 %>
    Ответы
    <ol>
    <% question.answers.each  do |answer| %> 
      <li>
      <% if answer.correct %>
       <strong><%= answer.body %></strong>
      <% else %>
       <%= answer.body %>
      <% end %>
      </li>
    <% end %>
    </ol>
 
  <% end %>
  