<li>
   <%= link_to question.body, edit_question_path(question) %> |
    <small>
    <%= link_to 'Удалить?', question_path(question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
   </small>
   <br>

   <ol>
   <%= render question.answers %>
   </ol>

</li>
