<h4 class='mb-3'><%= t('.all_badges') %></h4>
<div class='col-6 d-flex gap-4 mb-5'>
  <%= render @badges %>
</div>

<h4 class='mb-3'><%= t('.my_badges') %></h4>
<div class='col-6 d-flex gap-4'>
  <%= render @awards %>
</div>
