<p style="color: green"><%= notice %></p>
<%= render @badge %>
<div>
  <%= link_to "Edit this badge", edit_badge_path(@badge), class: 'btn' %>
  <%= button_to "Destroy this badge", @badge, method: :delete, class: 'btn' %>
</div>