<li>
  <%= link_to answer.body, answer %> |
  <%= answer.correct %> |
  <small>
    <%= link_to 'Удалить?', answer_path(answer),
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </small>
</li>
