
<h1><%= @answer.question.body %></h1>

<h2><%= t('.editing_answer') %></h2>
<%= render 'form', answer: @answer %>
<div>
  
  <%= link_to t('.back_to_question'), admin_question_path(@answer.question) %>
</div>
