<div class='award'>
  <div class='d-flex align-items-start'>
    <%= insert_badge_image(award.badge.url, award.badge.title) %>
    <span class='award__count'>
      <%= award.count %>
    </span>
  </div>
</div>
