<table class='table'>
  <thead>
    <tr>
      <th>mail</th>
      <th>rule</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <% @awards.each do |award| %>
      <tr>
        <td><%= award.user.email %></td>
        <td><%= award.rule.title %></td>
        <% if award.rule.badge.image.attached? %>
          <td><%= image_tag(award.rule.badge.image, height: 100)%> </td>
        <% end %>
        <td><%= award.count %></td>
      </tr>
    </tbody>
  </table>
<% end %>