<li>
  <%= question.body %>
  <br>
  <%= link_to t('.show'), admin_question_path(question) %> |
  <%= link_to t('.edit'), edit_admin_question_path(question) %> |
  <%= link_to t('.delete'), admin_question_path(question), data: { turbo_method: :delete, turbo_confirm: t('confirm_delete') } %>
</li>
