<h1>Editing criterion</h1>

<%= render "form", criterion: @criterion %>

<br>

<div>
  <%= link_to "Show this criterion", @criterion %> |
  <%= link_to "Back to criterions", criterions_path %>
</div>
