<div id="<%= dom_id category %>" class='d-flex'>
  <div>
    <%= category.title %>
  </div>
  <div class='ms-auto p-2'>
    <%= button_to 'Destroy', admin_category_path(category), method: :delete, class: 'btn btn-danger' %>
  </div>
</div>