<h1><%= @passage.test.title %> Test complete</h1>
<% if @passage.grade >= Passage::PASSAGE_MAX %>
  <p style="color: green">
    You passed the test. Result is <%= @passage.grade %>%
  </p>
<% else %>
  <p style="color: red">
    You failed the test. Result is <%= @passage.grade %>%
  </p>
<% end %>
