 // $primary: #20c997;
// $secondary: #087f5b;
// $danger: #dd0000;
// $success: lime;
// $warning: orange;
// $info: aqua;
// $body-bg: #f3f3f0;



// blue
$primary: #83B4FF; // set the $primary variable
$secondary: #5A72A0 ;
$body-bg: #eee ;
$body-color: #1A2130;

