.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.container-main {
    min-height: 50rem;
}


// $primary: #20c997; // set the $primary variable
// $secondary: #087f5b;
// $danger: #dd0000;
// $success: lime;
// $warning: orange;
// $info: aqua;
// $body-bg: #f3f3f0;


$primary: #3F72AF; // set the $primary variable
$secondary: #112D4E;
$danger: #dd0000;
$body-bg: #F9F7F7;



.card {
    width: 16rem;
    // max-width: 18rem;
}

.nav-link {
    transtition: all 0.2s;

    &:link,
    &:visited {
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    &:hover,
    &:active {
        border-bottom: 2px solid;
    }
}


.marg-right-2 {
    margin-right: 2rem;
}


