.pointer {
    cursor: pointer;
}

.hide-ptr {

    stroke: #333;
    opacity: 0.3;
}


:root,
[data-bs-theme=light] {
    --bs-link-color: red;
    --bs-link-color-rgb: 44, 56, 78;
}


.hide {
    display: none;
}


.container-main {
    min-height: 50rem;
}

.card {
    width: 16rem;
    // max-width: 18rem;
}

.nav-link {
    transtition: all 0.2s;

    &:link,
    &:visited {
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    &:hover,
    &:active {
        border-bottom: 2px solid;
    }
}


.marg-right-2 {
    margin-right: 2rem;
}


.gist {
    transform: translate(-5%, -30%) scale(0.7);

}

.accent {
    background-color: $accent-color !important;
}


.tab-content {
    margin-top: 2rem;
}

.lnk {
    text-align: center;
    text-decoration: none;
    min-width: 8rem;
    padding: 5px 20px;
    background-color: $secondary;
    color: #fff;
    border: none;

    border-radius: 20px;

    &:link,
    &:visisted {
        border: none;
        text-decoration: none;
    }

    &:hover,
    &:active {
        transform: translateY(-5%);
        border: none;
        text-decoration: none;

    }

    &--active {
        background-color: orangered;
    }
}

.ml-auto {
    margin-left: auto !important;
}

.my-icon {
    margin-left: 1rem;
}

.footer-par {
    align-self: center;
    margin-bottom: 0 !important;
}