<div id="<%= dom_id rule %>">
  <p>
    <strong>Title:</strong>
    <%= rule.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= rule.category.title %>
  </p>


  <p>
    <strong>Tests_done:</strong>
    <%= rule.tests_done %>
  </p>
</div>
