 <% if object&.errors.present? %>
  <div>
    <%= t('.error', count: object.errors.size) %>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
