<footer class="footer">
    <p>Создание и прохождение тестов ©
        <%= current_year %> slydevruby
        <%= github_url('slydevruby', 'test-guru') %>
    </p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
      'http://thinknetica.com', target: '_blank', rel: %w[nofollow noopener], class: 'btn--link'
     %>
    <%= link_to t(:feedback_link), feedbacks_new_path, class: 'btn--link' %>
    </p>
</footer>