<div class="footer">
  <hr>
  <%= current_year %> | slydevruby |
  <%= github_url('slydevruby', 'test-guru') %> | 
  Создание и прохождение тестов  |
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
      'http://thinknetica.com', target: '_blank', rel: %w[nofollow noopener]
     %>
</div>
