<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col text-body-secondary">
      © <%= current_year %> slydevruby | <%= github_url('slydevruby', 'test-guru') %> | Создание и прохождение тестов  | <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
      'http://thinknetica.com', target: '_blank', rel: %w[nofollow noopener]
     %>
    </p>
  </footer>
</div>
