<div class="container">
  <p class="nav user">
  <% if user_signed_in? %>
  
    <b><%= t('welcome', email: current_user.email) %></b> |
    <%= link_to t('signout'), destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
   
    <%= link_to t('signin'), new_user_session_path %>   
  
  <% end %>
  </p>
</div>
