<div class="container">
  <% if user_signed_in? %>
  <p class="nav user">
    welcome, <b><%= current_user.email %></b> |
    <%= link_to 'Signout', destroy_user_session_path, method: :delete %>
  </p>
  <% end %>
</div>
