Список тестов
<table>
  <tr>
    <th>Автор</th>
    <th>Категория</th>
    <th>Уровень</th>
    <th>Тест</th>
    <th>Количество вопросов</th>
    <th>Править</th>
    <th>Удалить</th>
  </tr>
  <%= render @tests %>
</table>
<br>
<%= link_to 'Создать тест', new_test_path %>
